html body {
  margin: 0;
  font-family: "Khand", sans-serif;
}

header .headercenter, nav .navcenter, section, footer .footercenter {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #E2B500;
}

header .headercenter {
  display: flex;
  justify-content: space-between;
}

header .headercenter h1 {
  font-size: 50px;
}

nav {
  background-color: #C0B7B1;
  height: 30px;
}

nav .navcenter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav .navcenter .links {
  width: 500px;
}

nav .navcenter .rechts {
  width: 500px;
  text-align: right;
}

nav .navcenter .rechts i {
  padding-right: 2px;
}

nav .navcenter .rechts input {
  background-color: #C0B7B1;
  border-radius: 10px;
  outline: none;
}

nav .navcenter a {
  padding-right: 2%;
  text-decoration: none;
  font-size: 16px;
  color: black;
  height: 30px;
  line-height: 30px;
}

section a {
  text-decoration: none;
  color: black;
}

section input {
  border-radius: 10px;
  border-color: black;
  outline: none;
}

section .image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}

section .image h4 {
  margin-bottom: 0;
  font-size: 14px;
}

section .image h4:hover {
  color: #E2B500;
}

section .image p {
  margin-top: 0;
  font-size: 14px;
}

section .image img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #E2B500;
}

footer .footercenter {
  display: flex;
  justify-content: space-between;
}

footer .footercenter ul {
  font-size: 12px;
  list-style: none;
  text-align: left;
  padding: 0;
}

footer .footercenter .social {
  display: flex;
  flex-direction: column;
  margin-top: 18.720px;
}

footer .footercenter .social a {
  padding: 40%;
  color: black;
}

footer .footercenter .social a:hover {
  color: white;
}
