$maincolor: #3993DD;
$secondcolor: #E1B07E;
$font: 'Khand', sans-serif;

html {
  body{
  margin: 0px;
  font-family: $font;
}}


%center {
  width: 80%;
  margin:0 auto;
}

header {

  background-color: $maincolor;

    .headercenter{
      @extend %center;
      display: flex;
      justify-content: space-between;

    h1{
      font-size: 50px;
    }
  }
}

nav {
  background-color: $secondcolor;
  height: 5%;

  .navcenter {
    @extend %center;
  }
}

section {
  @extend %center;
}

footer {

  background-color: $maincolor;
  .footercenter{
    @extend %center;
    display: flex;
    justify-content: space-between;

    ul{
      font-size: 12px;
      list-style: none;
      text-align: left;
      padding:0px;
    }
  .social {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 18.720px;
  }
  }
}
