$maincolor: #E2B500;
$secondcolor: #C0B7B1;
$font: 'Khand', sans-serif;

html {
  body {
    margin: 0;
    font-family: $font;
  }
}

%center {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: $maincolor;

  .headercenter {
    @extend %center;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 50px;
    }
  }
}

nav {
  background-color: $secondcolor;
  height: 30px;


  .navcenter {
    @extend %center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .links {
      width: 500px;
      margin-top: 1.5px;
  }
    .rechts {
      width: 900px;
      text-align: right;
      margin-top: 1.5px;

      i {
        padding-right: 2px;
      }

      input {
        background-color: $secondcolor;
        border-radius: 10px;
        outline: none;
        width: 15%;
        border-color:black;
        padding-left: 5px;
      }
    }

    a {
      padding-right: 10%;
      text-decoration: none;
      font-size: 16px;
      color: black;
    }
  }
}

section {
  @extend %center;

  a {
    text-decoration: none;
    color: black;
  }

  input {
    border-radius: 10px;
    border-color: black;
    outline: none;
    padding-left: 5px;
  }

  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;

    h4 {
      margin-bottom: 0;
      font-size: 14px;
    }

    h4:hover {
      color: $maincolor;
    }

    p {
      margin-top: 0;
      font-size: 14px;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}

footer {
  background-color: $maincolor;

  .footercenter {
    @extend %center;
    display: flex;
    justify-content: space-between;

    ul {
      font-size: 12px;
      list-style: none;
      text-align: left;
      padding: 0;
    }

    .social {
      display: flex;
      flex-direction: column;
      margin-top: 18.720px;

      a {
        padding: 40%;
        color: black;
      }

      a:hover {
        color: white;
      }
    }
  }
}
